* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: block;
  width: 60%;
  height: 80%;
  margin: 50px auto;
  text-align: center;
  border: 1px solid black;
}

.title {
  font-weight: heavy;
  font-size: 40px;
  text-decoration: underline;
}

.footer {
  font-style: italic;
}