* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: block;
  width: 50%;
  margin: 50px auto;
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  font-weight: heavy;
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  text-decoration: underline;
}

.page-title {
  font-weight: heavy;
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
  text-decoration: underline;
}

.footer {
  margin-top: 25px;
  margin-bottom: 25px;
  font-style: italic;
  text-align: center;
}

/* .bookmarks {
  
} */

.default-page, .expanded-page, .add-bookmark-page {
  display: block;
  margin: auto;
  margin-top: 25px;
  /* border: 1px solid black; */
}

.item {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  border: 1px solid black;
}

.content {
  width: 100%;
  padding: 10px;
}

.default-top {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  height: 75px;
}

.expand-description {
  text-align: right;
}

.add-bookmark-top {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  border: 1px solid black;
}

.expanded-top {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  border: 1px solid black;
}

.checked {
  color: orange;
}

.default-rating-label, .default-rating-content {
  display: block;
}

.new-bookmark-button-box, .default-rating-box, .title-stars-url-box, .expand-button-box, .bookmark-title-box, .title-box, .stars-box {
  display: inline-block;
}

.title-stars-box, .bookmark-url-desc-box {
  display: block;
}

.title-box {
  float: left;
}

.expand-button-box {
  width: 250px;
  float: right;
}

.add-title-url-description-box, .add-stars-button-box {
  width: 75%;
  display: block;
}

.add-bookmark-button-box, .stars-box {
  width: 75%;
  display: inline-block;
}

.add-bookmark-button-box {
  float: right;
}

/* Radio element, when checked */
input[type="radio"]:checked {
  box-shadow: 0 0 0 3px orange;
}

.add-bookmark-top {
  padding: 5px;
  border: 1px solid black;
}

.expanded-bookmark {
  display: block;
  margin: auto;
  margin-top: 10px;
  /* width: 90%; */
}

.edit-desc {
  
}

.stars-box {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

#new-title, #new-url, #new-desc {
  padding-top: 5px;
}

/* css spinner */

.loader {
  color: black;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}